<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <mat-progress-bar mode="determinate" [value]="progreso1">
                        </mat-progress-bar>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <mat-progress-bar mode="determinate" [value]="progreso2">
                        </mat-progress-bar>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <app-incrementador (valor)="progreso1 = $event" [valor]="progreso1"></app-incrementador>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <app-incrementador (valor)="progreso2 = $event" [valor]="progreso2"></app-incrementador>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>