<div class="container">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title ">Iniciar Sesión</h4>
                            <p class="card-category"> Ingreso los Datos</p>
                        </div>
                        <div class="card-body">
                            <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
                                <mat-card class="box">
                                    <form class="example-form">
                                        <mat-card-content>
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Usuario">
                                            </mat-form-field>

                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Password">
                                            </mat-form-field>
                                        </mat-card-content>
                                        <button mat-raised-button color="primary" class="btn-block">Iniciar</button>
                                    </form>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            agregar imagen
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>