<div class="container">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title ">Registrar</h4>
                            <p class="card-category"> Diligencie el Formulario</p>
                        </div>
                        <div class="card-body">
                            <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
                                <mat-card class="box">

                                    <form class="example-form">

                                        <mat-card-content>
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Nombre Completo">
                                            </mat-form-field>

                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Dirección">
                                            </mat-form-field>

                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Teléfono">
                                            </mat-form-field>

                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Email">
                                            </mat-form-field>

                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Password">
                                            </mat-form-field>

                                            <!-- <mat-form-field class="example-full-width">
                                            <mat-label>Choose a role...</mat-label>
                                            <mat-select>
                                                <mat-option [value]="roles" *ngFor="let roles of Roles">{{roles}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field> -->

                                        </mat-card-content>

                                        <button mat-raised-button color="primary" class="btn-block">Registarse</button>

                                    </form>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>