<div class="col-md-6">
    <span>
        <button mat-icon-button
                (click) = "cambiarValor(-5)">
            <mat-icon aria-label="remove_circle ">remove_circle</mat-icon>
        </button>
    </span>
    <span>
        <button mat-icon-button
                (click) = "cambiarValor(5)">
            <mat-icon aria-label="add_circle ">add_circle</mat-icon>
        </button>
    </span>

    <mat-form-field class="example-full-width">
        <input type="number" matInput [(ngModel)]="progreso" [ngClass]="{'is-invalid': progreso > 100 || progreso < 0}" (ngModelChange)="onChange($event)">
    </mat-form-field>
</div>